site/role/spec/fixtures/.bundle
site/role/spec/fixtures/Gemfile.lock
site/role/spec/fixtures/modules
site/role/spec/fixtures/manifests
site/profile/spec/fixtures/Gemfile.local
site/profile/spec/fixtures/.bundle
site/profile/spec/fixtures/modules
site/profile/spec/fixtures/manifests
site/profile/vendor
site/role/vendor
pkg
.rspec_system
.vagrant
vagrant
.bundle
vendor
coverage
Gemfile.lock
